body{
    background-color: rgb(31, 31, 31);
}
nav{
    background-color: rgb(255, 137, 174);
    display: flex;
    justify-content: space-around;
    width: 620px;
    padding: 5px;
    height: 40px;
}

.navButton{
    background: rgb(207,51,101);
    background: linear-gradient(90deg, rgb(255,137,174) 1%, rgb(207,51,101) 1%, rgb(170,27,109) 100%);
    border: 0px;
    border-left: solid 2.5px rgb(207, 51, 101);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;

}

.grid-container {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px ;
    grid-template-rows: 40px 40px 80px 160px 120px 80px 80px 80px;
    gap: 5px;
    padding: 5px;
    background-color: rgb(225, 225, 225);
    width: fit-content;
}
  
.grid-item{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    padding: 0;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.item5{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

.item9{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 7;
}

.item10{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.item13{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8; 
}
.item14{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7; 
}
.item21{
    grid-column-start: 2;
    grid-column-end: 6;
 
}